@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Add your global styles here */
  :root {
    --primary: hsl(218, 90%, 20%);

    --foreground: hsl(0, 0%, 16%);
    --background: hsl(0, 0%, 98%);

    --popover: hsl(0, 0%, 90%);
    --popover-foreground: hsl(0, 0%, 16%);
  }

  .dark {
    --primary: hsl(218, 75%, 42%);

    --foreground: hsl(0, 0%, 98%);
    --background: hsl(0, 0%, 16%);

    --popover: hsl(0, 0%, 12%);
    --popover-foreground: hsl(0, 0%, 98%);
  }

  body,
  html {
    height: 100%;
    font-family: var(--font-sans);
    color: var(--foreground);
    background-color: var(--background);
  }
}
