@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Add your global styles here */
  :root {
    --primary: #052763;
    --foreground: #282828;
    --background: #f9f9f9;
  }

  .dark {
    --primary: #1b56bb;
    --foreground: #f9f9f9;
    --background: #282828;
  }

  @media (color-gamut: p3) {
    :root {
      --primary: color(display-p3 0.019608 0.152941 0.388235 / 1);
      --foreground: color(display-p3 0.156863 0.156863 0.156863 / 1);
      --background: color(display-p3 0.976471 0.976471 0.976471 / 1);
    }

    .dark {
      --primary: color(display-p3 0.105882 0.337255 0.733333 / 1);
      --foreground: color(display-p3 0.976471 0.976471 0.976471 / 1);
      --background: color(display-p3 0.156863 0.156863 0.156863 / 1);
    }
  }

  body,
  html {
    height: 100%;
    font-family: var(--font-sans);
    color: var(--foreground);
    background-color: var(--background);
  }
}
